* {
    margin: 0;
    padding: 0;

    font-family: 'Dela Gothic One', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


/* Hello Animation */
.span-hello-container {
    z-index: 100;
    position: fixed;
    top: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}

.span-hello {
    font-size: 2rem;
    color: #fff;
    font-family: 'Dela Gothic One', cursive;
    font-style: normal;
    font-weight: 500;
}

.span-hello-container {
    transform: translatey(0);
    transition: all 1s ease-in-out;
}

.translate-animation {
    transform: translatey(-100%);
}


/* Make the Hero not Scrollable and only Fit Screen */
.hero {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* make the Container for the Content */
.container-hero {
    width: 95%;
    height: 90%;
    background: #000000;
    border-radius: 32px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-image: url(img-earth.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

/* make the Text Header (Clean Earth) */
.header {
    padding: 100px;
    color: white;
}

.header-1 {
    font-family: 'Dela Gothic One', cursive;

    font-size: 4em;

    transition: 0.2s;
}

.header-1:hover {
    scale: 110%;

    transition: 0.2s;
}

.header-2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;

    font-size: 1.7em;
    transition: 0.2s;
}

.header-2:hover {
    scale: 105%;

    transition: 0.2s;
}

.header p {
    margin-top: 150px;
}

/* Make the Button so when we Press it pops the Menu */
.hover-me {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1em;
    transition: 0.2s;
}

.hover-me:hover {
    scale: 110%;

    transition: 0.2s;
    cursor: pointer;
}

.hover-me:hover .hover-img {
    transform: translateY(10px);

    transition: 0.2s;
    cursor: pointer;
}

.hover-img {
    width: 25px;
    margin-top: 10px;

    transition: 0.2s;
}

.hover-me.active {
    opacity: 0%;

    transition: 0.5s;
}

.hero span {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 15px;
}

/* make a Copyright */
.hero .copy {
    font-weight: 300;
    font-size: 0.8em;
}

.container-menu {
    visibility: hidden;
    opacity: 0%;

    width: 100%;
    height: 50%;
    margin-top: -90px;
    
    transition: 0.3s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* make the menu when Active pops up */
.container-menu.active {
    visibility: visible;

    opacity: 100%;

    transition: 0.3s;
}

.info {
    visibility: hidden;
    opacity: 0%;

    width: 300px;
    height: 60%;
    background: #020202;
    color: #ffffff;
    border-radius: 22px;
    border: 3px solid #ffffff;
    margin-right: 50px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 1s;
}

.info.active {
    visibility: visible;
    opacity: 100%;

    margin-bottom: 200px;
}

.info-title {
    font-family: 'Dela Gothic One', cursive;

    font-weight: 600;
    font-size: 1.7em;
}

.info-sub {
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 0 25px;
    margin-top: 15px;

    font-weight: 400;
    font-size: 0.8em;
}

.con {
    visibility: hidden;
    opacity: 0%;

    width: 300px;
    height: 60%;
    background: #020202;
    color: #ffffff;
    border-radius: 22px;
    border: 3px solid #ffffff;
    margin-right: 50px;
    margin-bottom: -100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 1.5s;
}

.con.active {
    visibility: visible;
    opacity: 100%;

    margin-bottom: 0px;
}

.con-title {
    font-family: 'Dela Gothic One', cursive;

    font-weight: 600;
    font-size: 1.7em;
}

.con-sub {
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 0 25px;
    margin-top: 15px;

    font-weight: 400;
    font-size: 0.8em;
}

.ben {
    visibility: hidden;
    opacity: 0%;

    width: 300px;
    height: 60%;
    background: #020202;
    color: #ffffff;
    border-radius: 22px;
    border: 3px solid #ffffff;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 2s;
}

.ben.active {
    visibility: visible;
    opacity: 100%;

    margin-bottom: 200px;
}

.ben-title {
    font-family: 'Dela Gothic One', cursive;

    font-weight: 600;
    font-size: 1.7em;
}

.ben-sub {
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 0 25px;
    margin-top: 15px;

    font-weight: 400;
    font-size: 0.8em;
}

.info:hover {
    cursor: pointer;
    scale: 105%;
    background: #000000c6;

    transition: 0.3s;
}

.con:hover {
    cursor: pointer;
    scale: 105%;
    background: #000000c6;


    transition: 0.3s;
}

.ben:hover {
    cursor: pointer;
    scale: 105%;
    background: #000000c6;

    transition: 0.3s;
}

/* Responsive CSS 1084px */
@media screen and (max-width:1084px) {
    .info {
        width: 250px;
    }

    .info-title {
        font-size: 1.5em;
    }

    .con {
        width: 250px;
    }

    .con-title {
        font-size: 1.5em;
    }

    .ben {
        width: 250px;
    }

    .ben-title {
        font-size: 1.5em;
    }
}

/* Responsive CSS 900px */
@media screen and (max-width:900px) {

    .header {
        padding: 180px 0px;
    }

    .header-1 {
        font-size: 2.5em;
    }

    .header-2 {
        font-size: 1em;
    }

    .hover-me {
        font-size: 1.4em;
    }

    .hover-img {
        width: 20px;
    }

    .header p {
        margin-top: 150px;
    }

    .container-menu {
        height: 50%;
    }

    .info {
        width: 200px;
        height: 50%;
    }

    .info-title {
        font-size: 1.3em;
    }

    .info-sub {
        font-size: 0.6em;
    }

    .con {
        width: 200px;
        height: 50%;
    }

    .con-title {
        font-size: 1.3em;
    }

    .con-sub {
        font-size: 0.6em;
    }

    .ben {
        width: 200px;
        height: 50%;
    }

    .ben-title {
        font-size: 1.3em;
    }

    .ben-sub {
        font-size: 0.6em;
    }
}

/* Responsive CSS 768px */
@media screen and (max-width:768px) {
    .header {
        padding: 100px;
    }

    .container-menu {
        flex-direction: column;

        height: 80%;
    }

    .hover-me.active {
        display: none;
    }

    .info {
        margin: 0;
        width: 300px;
        height: 25%;
    }

    .info.active {
        margin-bottom: 15px;
    }

    .con {
        margin: 0;
        width: 300px;
        height: 25%;
    }

    .con.active {
        margin: 0;
        margin-bottom: 15px;

    }

    .ben {
        margin: 0;
        width: 300px;
        height: 25%;
    }

    .ben.active {
        margin: 0;
    }
}

/* Responsive CSS 706px */
@media screen and (max-width:706px) {

    .header {
        padding: 100px 0px;
    }

    .header-1 {
        font-size: 3em;
    }

    .header-2 {
        font-size: 1.5em;
    }

    .hover-me {
        font-size: 1.4em;
    }

    .hover-img {
        width: 20px;
    }

    .header p {
        margin-top: 200px;
    }
}

/* Responsive CSS 400px */
@media screen and (max-width : 400px) {
    .header-1 {
        font-size: 2.5em;
    }
    
    .header-2 {
        font-size: 1em;
    }

    .hover-me {
        font-size: 1em;
    }
}